<!-- graph.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-950 text-white flex flex-col min-h-screen" style="background: url('/static/bg-graph.jpeg') no-repeat center center/cover;">
    <header class="text-center py-4 text-3xl font-bold bg-gray-800 shadow-lg text-gray-200">
        📈 Deep Learning for Stock Trading: Reinforcement Learning in Action
    </header>

    <h2 class="text-center py-2 text-xl font-semibold bg-gray-700 text-gray-300 shadow-md">
        📊 Data Analysis Graph Reports
    </h2>

    <div class="container mx-auto flex-grow p-8 flex flex-col items-center justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full max-w-7xl mt-4">
            <a href="/graph_detail1" class="bg-gradient-to-r from-gray-800 to-gray-700 p-6 rounded-xl shadow-lg text-center transform transition-transform hover:scale-105 cursor-pointer bg-opacity-90 h-64 flex flex-col justify-between">
                <div class="text-4xl">📈</div>
                <h3 class="text-lg font-semibold text-gray-100">Stock Price Trends</h3>
                <p class="text-gray-300">Visualizing stock market closing price trends.</p>
            </a>
            <a href="/graph_detail2" class="bg-gradient-to-r from-gray-800 to-gray-700 p-6 rounded-xl shadow-lg text-center transform transition-transform hover:scale-105 cursor-pointer bg-opacity-90 h-64 flex flex-col justify-between">
                <div class="text-4xl">📉</div>
                <h3 class="text-lg font-semibold text-gray-100">Market Volatility</h3>
                <p class="text-gray-300">Understanding yearly trade volumes.</p>
            </a>
            <a href="/gen_roi" class="bg-gradient-to-r from-gray-800 to-gray-700 p-6 rounded-xl shadow-lg text-center transform transition-transform hover:scale-105 cursor-pointer bg-opacity-90 h-64 flex flex-col justify-between">
                <div class="text-4xl">📊</div>
                <h3 class="text-lg font-semibold text-gray-100">Generate ROI</h3>
                <p class="text-gray-300">Understanding yearly ROI</p>
            </a>
            <a href="/gen_shape" class="bg-gradient-to-r from-gray-800 to-gray-700 p-6 rounded-xl shadow-lg text-center transform transition-transform hover:scale-105 cursor-pointer bg-opacity-90 h-64 flex flex-col justify-between">
                <div class="text-4xl">📊</div>
                <h3 class="text-lg font-semibold text-gray-100">Generate Shape</h3>
                <p class="text-gray-300">Understanding yearly Shape</p>
            </a>
        </div>
    </div>

    <footer class="text-center py-4 text-sm bg-gray-800 mt-auto text-gray-400">
        404 Brain Not Found
    </footer>
</body>
</html>
